* /* padding and border are included in total width and height of elements */
{
    box-sizing: border-box;
}

/****************************** Body Styles *********************************/

body
{
  font-family: monospace;
  margin: 0px;
  background-color: dimgrey;
}

/****************************** Profile **************************************/

div#profile
{
  background-color: lavender;
  width: 100%;
}

div#profilePic
{
  width: 80%;
  margin: auto;
  padding-bottom: 5px;
}

table
{
  width: 90%;
  margin: auto;
}

th
{
  text-align: right;
  padding: 2px;
  font-size: 18px;
  color: indigo;
  border-width: thin;
  border-color: silver;
  border-bottom-style: solid;
}

td
{
  padding: 2px;
  font-size: 14px;
  color: black;
  border-width: thin;
  border-color: silver;
  border-bottom-style: solid;
}

/******************************* Links ***************************************/

div#links
{
  width: 90%;
  margin: auto;
  text-align: right;
  overflow-x: hidden;
}

h1
{
  font-size: 20px;
  font-family: cursive;
  background-color: transparent;
  color: lavender;
  text-shadow: 2px 2px 2px black;
  text-align: justify;
  margin-bottom: 0px;
}

p#intro
{
  font-size: 16px;
  font-family: cursive;
  background-color: transparent;
  color: lavender;
  text-align: justify;
  margin-top: 0px;
}

hr.hr
{
  border-color: silver;
  box-shadow: 1px 1px 1px black;
}

h2
{
  font-size: 24px;
  font-family: monospace;
  font-weight: bold;
  color: dimgrey;
  text-shadow: 2px 2px 1px black, -1px -1px 2px lavender, 0 0 5px indigo;
  margin-bottom: 5px;
  text-align: right;
}

span.ellipses
{
  color: lavender;
  box-shadow: 1px 1px 1px black;
  font-size: 10px;
  cursor: pointer;
  border-style: double;
  border-width: medium;
  border-color: lavender;
  padding: 2px;
  padding-bottom: 0px;
}

p.hidden
{
  display: none;
}

p.visible
{
  display: inline-block;
  color: black;
  font-size: 14px;
  font-family: serif;
  text-align: justify;
  margin: 0px;
  margin-top: 5px;
  padding: 10px;
  background-color: lavender;
  box-shadow: 2px 2px 2px black;
}

a.a:link
{
  margin: 0px;
  color: lavender;
  font-size: 16px;
}

a.a:visited
{
  color: lavender;
}

a.a:hover
{
  color: indigo;
}

/* default styles are for phone-sized screens; layout is responsive: */

@media only screen and (min-width: 825px) /* tablet-sized */
{
    div#profile
    {
      max-width: 375px;
      float: left;
      margin: 20px;
    }

    div#links
    {
      width: 40%;
      float: left;
      margin-left: 20px;
    }
}

@media only screen and (min-width: 1000px) /* full-screen */
{
  div#profile
  {
    margin-left: 50px;
    margin-right: 40px;
  }
  div#links
  {
    width: 50%;
  }
}
